.input-group{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:20px;
    border-radius: 2em;
    background-color: white;
}

input{
    width:100%;
    box-sizing: border-box;
    height:40px;
    border-radius:1em;
    border:1px solid gray;
}
textarea{
    box-sizing: border-box;
    border-radius:1em;
    border:1px solid gray;
    padding:10px;
    font-family: inherit;
}


h2{
    margin:0;
}

.expand{
    background-color: rgb(240, 240, 240);
    border:none;
    height:40px;
    width:40px;
    border-radius: 50%;
    font-weight: bold;
}

.expand.active{
    background-color: rgb(52, 180, 255);
}
