.flex{
  display: flex;
  padding: 20px 50px;
  gap:50px;
  justify-content: space-evenly;
}
.infoCol{
  width:35%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap:20px;
}



.button{
  padding:15px;
  border:none;
  color:white;
  font-weight: bold;
  border-radius:1em;
  margin-left:10px;
}

.sample{
  
  background-color: rgb(108, 197, 108);
  
}

.download{
  background-color: rgb(243, 126, 105);
}

@media (max-width:1000px) {
  .flex{
    flex-direction: column;
  }

  .infoCol{
    width:100%;
  }
}
